@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;700&family=Lato:wght@400;700&display=swap');

* {
  --pink: #E72276;
  --purple: #B42C86;
  --orange: #E54338;
  --yellow: #FF9E1A;
}

body {
  font-family: 'Exo', sans-serif;
  position: relative;
  box-sizing: border-box;
}

.triangle {
  position: absolute;
  top:5%;
  width: 100%;
  height: 90%;
  background-color: hsla(35, 100%, 55%, 0.308);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.wrapper {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.inner-wrapper {
  height: 100%;
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  font-size: 2.75vw;
  clear: both;
/*   max-width: 45vw; */
}

#left {
/*   position: absolute; */
  float: left;
  left: 10px;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-evenly;
  z-index: 1;
}

#right {
  position: relative;
  float: right;
  right: 0px;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-evenly;
  z-index: 1;
}

#right::before {
  content: "";
  position: absolute;
  left: -4%;
  width: 100%;
  height: 100%;
  margin: auto;
  background: linear-gradient(var(--orange), var(--yellow));
  /* hsla(35, 100%, 55%, 0.308) */
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  z-index: 0;
}

.rung {
  width: 40vw;
  min-height: 35px;
  border: solid black;
  border-width: 0px 10px 5px 10px;
  padding: 5px;
  z-index: 2;
}

.last {
  border-width: 0px 10px 0px 10px;
  margin-bottom: 20px;
}

.brick {
  font-family: 'Lato', sans-serif;
  font-size: 1.8vw;
  width: 40vw;
  min-height: 29px;
  color: white;
  background-color: var(--purple);
  text-align: center;
  padding: 5px 3px 5px;
  cursor: move;
  box-sizing: border-box;
  z-index: 3;
}

.save {
  font-family: 'Lato', sans-serif;
  margin: 10px 0;
}

.save > label {
  font-family: 'Lato', sans-serif;
  font-size: 1.1667rem;
  padding: 0.25em 0.6875em;
}

#save {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.1667rem;
  color: #141414;
  border-radius: 1em;
  background-color: var(--orange);
  border: 1px solid var(--orange);
  padding: 0.25em 0.6875em;
}

#urlSave {
  font-family: 'Lato', sans-serif;
  font-size: 1.1667rem;
  border-radius: 1em;
  width: 50vw;
  padding: 0.125em 0.6875em;
}

#copyToClipboard {
  font-family: 'Lato', sans-serif;
  font-size: 1.1667rem;
  border-radius: 1em;
  background-color: var(--purple);
  color: white;
  border: 1px solid var(--purple);
  padding: 0.25em 0.6875em;
}

.footer {
  margin: 5px 0;
}

.popup {
  visibility: hidden;
/*   position: absolute;
  bottom: 50px; */
  left: 0;
  right: 0;
  width: 30%;
  text-align: center;
  border-radius: 16px;
  background-color: var(--yellow);
  color: white;
  padding: 4px 11px;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.5s;
}